<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
            Dashboard &middot; Butterfly Corner
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	{% load static %}
    <link rel="stylesheet" href="{% static 'website/css/library.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/style.min.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <script src="{% static 'website/js/jquery.min.js' %}"></script>
    <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
</head>

<body id="landing" class="sidebar-open">
<div class="page-container animsition">
    <div id="dashboardPage">

<div class="topbar sidebar-open">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 col-4">
                <div class="logo">
                    <a href="index.html">
                        <span class="logo-emblem">BG</span>
                        <span class="logo-full">Butterfly Garden</span>
                    </a>
                </div>
            </div>
            <div class="col-md-7 col-8 text-right">
                <ul>
                    <li class="btn-group user-account">
                        <a href="javascript:;" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="user-content">
                                <div class="user-name">Admin</div>
                            </div>
                            <div class="avatar">
                                <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fau.junkfreejune.org%2Fthemes%2Fbase%2Fproduction%2Fimages%2Fdefault-profile.png&f=1" alt="profile" />
                            </div>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right animated bounceInUp">
                            <li><a href="{% url 'logout' %}" class="animsition-link dropdown-item"><i class="feather icon-log-in"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<aside class="offcanvas-menu">
    slideout menu here
</aside>

<div class="sidebar sidebar-open">
    <div class="logo">
        <a href="index.html">
            <span class="logo-emblem">BG</span>
            <span class="logo-full">Butterfly Garden</span>
        </a>
    </div>
    <ul>

        <li class="title">
            <i class="fas fa-ellipsis-v"></i>
            <span class="menu-title">Main</span>
        </li>
        <li class="nav-item">
            <a class="nav-link wave-effect collapsed wave-effect" href="{% url 'home' %}" aria-expanded="false" aria-controls="page-dashboards">
                <i class="fas fa-ticket-alt"></i>
                <span class="menu-title">Book ticket</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link wave-effect collapsed" href="{% url 'dashboard' %}" aria-expanded="false" aria-controls="page-layouts">
                <i class="fas fa-chart-line"></i>
                <span class="menu-title">Dashboard</span>
            </a>
          </li>
        <li class="nav-item">
            <a class="nav-link wave-effect collapsed" href="{% url 'settings' %}" aria-expanded="false" aria-controls="page-layouts">
                <i class="fas fa-chart-line"></i>
                <span class="menu-title">Settings</span>
            </a>
          </li>
        <li class="spacer"></li>

    </ul>
</div>

        <main>
<div class="page-breadcrumb">

</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-md-flex align-items-center">
                        <div>
                            <h4 class="card-title">Welcome</h4>
                            <p class="card-subtitle">Admin : Ticket Booking System</p>
                        </div>
                        <div class="ml-auto">
                            <div class="dl">
                                <h4 style="margin-right:20px;">Customer Count : {{count}}</h4>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="table-responsive">
                    <table class="table v-middle">
                        <thead>
                            <tr class="bg-light">
                                <th class="border-top-0">Sr. No</th>
                                <th class="border-top-0">Date</th>
                                <th class="border-top-0">Time</th>
                                <th class="border-top-0">Name</th>
                                <th class="border-top-0">Adult</th>
                                <th class="border-top-0">Children</th>
                                <th class="border-top-0">More Details</th>
                            </tr>
                        </thead>
                      <div class="infinite-container">
                        <tbody>

                              {% for obj in user_data_page %}
                              <tr>
                                <td class="infinite-item">
                                    <div class="d-flex align-items-center">
                                        <div class="">
                                            <h4 class="m-b-0 font-16">{{obj.pk}}</h4>
                                        </div>
                                    </div>
                                </td>
                                <td class="infinite-item">{{obj.date}}</td>
                                <td class="infinite-item">{{obj.time}}</td>
                                <td class="infinite-item">
                                    <label class="label label-danger">{{obj.customer_name}}</label>
                                </td>
                                <td class="infinite-item">{{obj.adult}}</td>
                                <td class="infinite-item">{{obj.children}}</td>
                                <td class="infinite-item">
                                  <a href="{{obj.qr_link}}">Click Here</a>
                                </td>
                                </tr>
                                {% endfor %}

                        </tbody>
                      </div>
                    </table>
                </div>
                {% if user_data_page.has_other_pages %}
        					<nav style="margin-left:50px;" aria-label="Page navigation">
                  <div class="mb-4">
                    <nav aria-label="Page navigation example">
                      <ul class="pagination">
                      {% if user_data_page.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ user_data_page.previous_page_number }}"><i class="fa fa-chevron-left" aria-hidden="true"></i><span class="sr-only">Previous</span></a></li>
                      {% endif %}

                      {% for i in user_data_page.paginator.page_range %}
                        {% if user_data_page.number == i %}
                        <li class="active page-item"><a class="page-link">{{i}}</a></li>
                        {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{i}}</a></li>
                        {% endif %}
                      {% endfor %}
                      {% if user_data_page.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ user_data_page.next_page_number }}"><i class="fa fa-chevron-right" aria-hidden="true"></i><span class="sr-only">Next</span></a></li>
                      {% endif %}
                      </ul>
                    </nav>
                  </div>
                </nav>
                {% endif %}

            </div>
        </div>
    </div>

</div>
</main>
</div>
</div>

<script src="{% static 'website/js/jquery-ui.min.js' %}" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
<script src="{% static 'website/js/popper.min.js' %}" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="{% static 'website/js/bootstrap.min.js' %}"></script>
<script src="{% static 'website/js/library.min.js' %}"></script>
<script src="{% static 'website/js/main.js' %}"></script>
<!-- <script src="{% static 'website/js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'website/js/infinite.js' %}"></script>

<script>
  var infinite = new Waypoint.Infinite({
    element: $('.infinite-container')[0],
    onBeforePageLoad: function () {
      $('.loading').show();
    },
    onAfterPageLoad: function ($items) {
      $('.loading').hide();
    }
  });
</script> -->
</body>

</html>
