<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
            Dashboard &middot; Butterfly Corner
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	{% load static %}
    <link rel="stylesheet" href="{% static 'website/css/library.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/style.min.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <script src="{% static 'website/js/jquery.min.js' %}"></script>
    <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
</head>

<body id="landing" class="sidebar-open">
<div class="page-container animsition">
    <div id="dashboardPage">

<div class="topbar sidebar-open">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 col-4">
                <div class="logo">
                    <a href="index.html">
                        <span class="logo-emblem">BG</span>
                        <span class="logo-full">Butterfly Garden</span>
                    </a>
                </div>
            </div>
            <div class="col-md-7 col-8 text-right">
                <ul>
                    <li class="btn-group user-account">
                        <a href="javascript:;" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="user-content">
                                <div class="user-name">Admin</div>
                            </div>
                            <div class="avatar">
                                <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fau.junkfreejune.org%2Fthemes%2Fbase%2Fproduction%2Fimages%2Fdefault-profile.png&f=1" alt="profile" />
                            </div>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right animated bounceInUp">
                            <li><a href="{% url 'logout' %}" class="animsition-link dropdown-item"><i class="feather icon-log-in"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<aside class="offcanvas-menu">
    slideout menu here
</aside>

<div class="sidebar sidebar-open">
    <div class="logo">
        <a href="index.html">
            <span class="logo-emblem">BG</span>
            <span class="logo-full">Butterfly Garden</span>
        </a>
    </div>
    <ul>

        <li class="title">
            <i class="fas fa-ellipsis-v"></i>
            <span class="menu-title">Main</span>
        </li>
        <li class="nav-item">
            <a class="nav-link wave-effect collapsed wave-effect" href="{% url 'home' %}" aria-expanded="false" aria-controls="page-dashboards">
                <i class="fas fa-ticket-alt"></i>
                <span class="menu-title">Book ticket</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link wave-effect collapsed" href="{% url 'dashboard' %}" aria-expanded="false" aria-controls="page-layouts">
                <i class="fas fa-chart-line"></i>
                <span class="menu-title">Dashboard</span>
            </a>
          </li>
        <li class="nav-item">
            <a class="nav-link wave-effect collapsed" href="{% url 'settings' %}" aria-expanded="false" aria-controls="page-layouts">
                <i class="fas fa-chart-line"></i>
                <span class="menu-title">Settings</span>
            </a>
          </li>
        <li class="spacer"></li>

    </ul>
</div>

        <main>
<div class="page-breadcrumb">

</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-md-flex align-items-center">
                        <div>
                            <h4 class="card-title">Welcome</h4>
                            <p class="card-subtitle">Admin : Make Changes in System</p>
                        </div>

                    </div>

                </div>
                <div class="table-responsive">
                  <section id="forms" class="section">
                    <div class="container-fluid">
                          <div class="card">
                          <div class="card-body">

                            <form method="post" id="make_pdf">
                              {% csrf_token %}
                              <div class="row mb-4">
                                <div class="col">
                                  <h6 class="">Adult Price</h6>
                                  <input type="text" id="adult" name="adult" class="form-control input adult" value="{{adult_price}}" placeholder="" required="">
                                </div>
                                <div class="col">
                                  <h6 class="">Children Price</h6>
                                  <input type="text" id="children" name="children" class="form-control input children" value="{{children_price}}" placeholder="" required="">
                                </div>


                            </div>
                            <input type="submit" name="price" class="btn btn-twitter" value="Update">
                          </form>

                            </div>
                          </div>
                    </div>
                  </section>
                </div>
                <div class="table-responsive">
                  <section id="forms" class="section">
                    <div class="container-fluid">
                          <div class="card">
                          <div class="card-body">

                            <form method="post" id="make_pdf">
                              {% csrf_token %}
                              <div class="row mb-4">
                                <div class="col">
                                  <h6 class="">Email</h6>
                                  <input type="text" id="adult" name="email_id" class="form-control input adult" value="{{email}}" placeholder="" required="">
                                </div>
                                <div class="col">
                                  <h6 class="">Password</h6>
                                  <input type="text" id="children" name="password" class="form-control input children" value="{{password}}" placeholder="" required="">
                                </div>
                            </div>
                            <div class="row mb-4">
                              <div class="col">
                                <h6 class="">Default text</h6>
                                <input type="text" id="children" name="default" class="form-control input children" value="{{default_text}}" placeholder="" required="">
                              </div>
                            </div>
                            <input type="submit" name="email" class="btn btn-twitter" value="Update">
                          </form>

                            </div>
                          </div>
                          <a style="margin-bottom:20px;margin-left:20px;" href="{% url 'export_users_xls' %}" class="btn btn-twitter">Export To Excel File</a>
                          <form method="post">
                            {% csrf_token %}
                          <button type="button" style="margin-bottom:20px;margin-left:20px;color: red;" class="btn btn-twitter" data-toggle="modal" data-target="#smallAlertModal">Clear whole DataBase</button>

                          <div class="modal fade" id="smallAlertModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-sm" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title mx-auto" id="exampleModalLabel">Clear Database</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close"></i></button>
                                </div>
                                <div class="modal-body text-center">
                                  Clicking On I'm sure, all you database will be cleared. Make Sure to export your database.
                              </div>
                                <div class="modal-actions" style="margin-bottom: 15px;margin-left: 15px;">
                                  <input type='submit' name='delete' style="color: red;" class="btn btn-twitter" value="Yes I'm Sure" >
                                  <button type="button" style="margin-left: 15px;" class="btn btn-twitter" data-dismiss="modal">Cancel</button>
                                </div>
                              </div>
                            </div>
                            </div>
                        </form>
                    </div>

                  </section>
                </div>
            </div>
        </div>
    </div>

</div>
</main>
</div>
</div>

<script src="{% static 'website/js/jquery-ui.min.js' %}" ></script>
<script src="{% static 'website/js/popper.min.js' %}"></script>
<script src="{% static 'website/js/bootstrap.min.js' %}"></script>
<script src="{% static 'website/js/library.min.js' %}"></script>
<script src="{% static 'website/js/main.js' %}"></script>


</body>

</html>
